

:root{
    --btn_bg: #F5be01;/*rgb(96, 96, 255)*/
  }
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn:hover{
    opacity: 0.8;
}
.btn_group{
    margin: 0px;
}
.btn_group div{
    margin: 0px 0px 0px 30px;
}
.btn_group div button{
    background: var(--btn_bg);
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    transition: 0.4s;
    font-weight: bold;
}

.Logo{
    width: 88px;
}
.nav{
    padding: 35px 0px 10px 0px;
}
.bg_none{
    color: var(--btn_bg) !important;
    background-color:transparent !important;
}
.bg_none:hover{
    color:#495172 !important; /*rgb(66, 66, 255)*/
}
.hidden{
    display: none;
    color: white;
}

.menu{
    display: block;
    position: absolute;
    z-index: 999;
    width: 100%;
    background: rgb(24, 24, 24);
    top: -250px;
    left: 0px;
    padding: 8px;
    transition: 0.5s; 
}

.in_animate{
    top: 0px;
   animation: drop 0.4s ease-in;
}


@keyframes drop {

    0%{
        top: -250px;
    }

    100%{
        top: 0px;
    }

}
.menu button{
    background: none;
    border: none;
    outline: none !important;
    color: white;
    font-size: 17px;
    margin: 5px;
    padding: 10px;

}
.menu div{
    text-align: center;
}

@media (max-width: 900px) {   
    .flex{
        align-content: center;
        align-items: center;
    } 
    .btn_group{
        display: none;
    } 
    .hidden{
        display: block;
    }
    .btn_toggle{
        background: none;
        background: transparent;
        cursor: pointer;
        border: none;
        outline: none;
    }
    
  }
